#PageTitle{
    color:#40BFAA;
    font-size: 60;
    border-bottom: 5px solid #40BFAA;
    background-color: rgba(50, 50, 50, 1);
    border-radius: 25px;
}
html{
    background-color: #1D1339;
    color:#40BFAA;
}
.ProfPics{
    font-size:30;
}

/* VVV Blue Nav Bar VVV */
#NAV{
    list-style-type: none;
    margin: auto;
    padding: 0;
    width:600;
    background-color: rgba(50, 50, 50, 1);
    text-align: center;
    border:2px solid black;
    border-radius: 50px;
}
#NAVItem{
    display: inline-block;
    width:auto;
    padding: 5px 15px;
    text-align: center;
    font-size: 25;
}
#NAVItem:hover{
    background-color:#404040;
}
.CurrentPage{
    background-color:black;
}
#NAVItem:last-child{
    border-bottom:none;
    color:#40BFAA;
}
#NAVItem a{
    text-decoration: none;
    color:#40BFAA;
}