#PageTitle{
    color:#a38c2c;
    font-size: 50;
    border-bottom: 5px solid #a38c2c;
    background-color: rgb(0, 0, 0, 1);
    border-radius: 25px;
}
html{
    background-image: url(Pics/Wheat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#Listing1{
    background-color:rgb(255, 255, 255,1);
    color:Black;
    padding:15;
    width: 45%;
    height:auto;
    text-align: center;
    margin:0 auto;
    float:left;
    border-radius: 25px;
    border:2px solid black;
}
#Listing2{
    background-color:rgb(255, 255, 255,1);
    color:Black;
    padding:15;
    width: 45%;
    height:auto;
    text-align: center;
    margin:0 auto;
    float:right;
    border-radius: 25px;
    border:2px solid black;
}