.default{
    background-color: #FFFFFF;
}

.titles{
    font-size: 50px;
    text-align: center;
    font-family: Georgia, serif;
}

#navbar{
    background-color: #333333;
    margin: -10px;
    padding: 20px;
    word-spacing: 4em;
    text-align: center;
}

#navbar a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 22px;
    font-family: "Arial Black", Gadget, sans-serif;
}

#navbar a:hover{
    color: #C6C399;
    text-decoration: none;
}
