html{
    background-image: url(Pics/Grass.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#WelcomeBox{
    background-color:rgb(255, 255, 255,1);
    color:Black;
    padding:25;
    width: 75%;
    height:auto;
    text-align: center;
    margin:0 auto;
    border-radius: 25px;
    border:2px solid black;
}