#NAV{
    list-style-type: none;
    margin: auto;
    padding: 0;
    width:600;
    background-color: rgba(50, 50, 50, 1);
    text-align: center;
    border:2px solid black;
    border-radius: 50px;
}
#NAVItem{
    display: inline-block;
    width:auto;
    padding: 5px 15px;
    text-align: center;
    font-size: 25;
}
#NAVItem:hover{
    background-color:#404040;
}
.CurrentPage{
    background-color:black;
}
#NAVItem:last-child{
    border-bottom:none;
    color:#a38d2c;
}
#NAVItem a{
    text-decoration: none;
    color:#a38d2c;
}